* {
  padding:0;
  margin:0;
  font-family:sans-serif;
}
body
{
  background:white;
}
.container{
  text-align:center;
  position:absolute;
  top:10%;
  left: 50%;
 transform:translate3d(-50%,-50%);
}
.container span{
text-transform:uppercase;
display:block;
}
.text1{
  color:aqua;
  font-size:60px;
  font-weight:bolder;
  letter-spacing: 12px;
  margin-bottom:20px;
  background-color: black;
  position: relative;
 animation: text 6s linear infinite;
}
.text2{
  font-size: 40px;
  color:aqua;
}

@keyframes text {
  0%{
    color:black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom:-40px;
  }
  60%{
    letter-spacing: 25px;
    margin-bottom:-40px;
  }
  80%{
    letter-spacing: 25px;
    margin-bottom:-40px;
  }
}

  body  {
  background-color: black;
  color:blue;
      border-width:5px;
  border-style:dashed;
  width:100%;
}
h1 {
  background-color: black;
  color: lawngreen;
  width:100%;
}
h2{
  background-color: palevioletred;
  width:30%;
}
caption{
  background-color: yellow;
  width:100%;
}
hr{
  border-radius: 100%;
  background-position: center;
  border-style: dotted none none;
  width: 30%;
  border-width: 20px;
  height: 50px;
  border-color: grey;

}
.a{
  background-color: paleturquoise;
  font-style: italic;
  color: green;
}
h4{
  background-color: aquamarine;
  font-family: sans-serif;
}
table{
  background-color: bisque;
  color:darkgreen;
}
h3{
  background-color: grey;
  color: aqua;
  text-decoration: underline;
  width:15%;
}
img{
  border-style: dotted;
  border-radius: 50px;
  border-color: lightpink;
  height: 400px;
}
form{
background-color: navajowhite;
}
